services:
  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.venv
    restart: "no"
    command: ["uv", "run", "fastapi", "dev", "--host", "0.0.0.0", "./feedreader3/main.py"]
  worker:
    build: .
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.venv
    restart: "no"
    command: ["uv", "run", "watchfiles", "python -m feedreader3.worker", "./feedreader3"]
  db:
    image: postgres:18.1
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./db-data:/var/lib/postgresql
      - ./initdb:/docker-entrypoint-initdb.d
    restart: "no"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
